@model IEnumerable<MyCardCollection.Models.CardsCollection>
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

    @{
        ViewData["Title"] = "My collection";
    }


        <div class="row">
            <div class="col-md-2 col-sm-12" style="text-align:start;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage/Setting
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Export WIP</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item"  style="color:red;" asp-controller="Collection" asp-action="Clear"><b>Clear [*]</b></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <h1> Cards: @ViewBag.Count | Unique: @ViewBag.DistinctCount</h1>
            </div>
        </div>
 

        <div class="row">
            <div class="col-md-2 col-12" >
                                <!-- Top value cards section -->
                <div class="TopCards">
                    @if(ViewBag.Count > 6 )
                    {
                        @await Component.InvokeAsync("CardsTop", new {_userId = UserManager.GetUserId(User)})
                    }
                </div>
      
                <!-- Add section -->
                <div class="row">
                    <form method="get" asp-controller="Collection" asp-action="Add" class="col">
                        <div>
                            <input name="set" class="form-control col" type="text" placeholder="set" >
                            <input name="number" class="form-control col" type="text" placeholder="number" >
                            <input class="btn btn-primary" type="submit" value="Add" />
                        </div>
                    </form>
                </div>
                <br />
                <!-- Import section -->
                <div class="p-2 p-md-0">
                    <form method="post" asp-controller="Collection" asp-action="Import" class="col" enctype="multipart/form-data">
                        <div class="row">
                            <input name="file" type="file" class="form-control col"/>
                            <input class="btn btn-primary" type="submit" value="Import" />
                        </div>
                    </form>
                </div>


            </div>
            <div class="col-12 col-md-10">
                <br />
                     <div class="row align-content-end px-2">
                        <input type="text" placeholder="SEARCH..." class="form-control" id="textSearch" />
                    </div>
                
                <div class="row" id="cardsFullGrid">
                        full cards list here
                </div>
            </div>
        </div>

            <div id="chartSection" />


    



        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        @section Scripts{

            
<script>

     console.log("tesT");
        $(()=>{
            getCards();
     
            $('#textSearch').on('keyup',()=>{
                getCards();
            })
        });
         function getCards(page=1){
            $.ajax({
                url:'@Url.Action("SearchCards","Collection")',
                datatype:'html',
                method: 'GET',
                data: {
                    searchText:$('#textSearch').val(),
                    page: page
                    },
                success: function(res){
                    $('#cardsFullGrid').html('').html(res);
                    },
                error: function(err){
                        console.log(err);
                    }
            })
        }
 
 </script>

           @* <script type="text/javascript">  
                $(function(){
                    $("a.LoadTopCards").click(function(e){
                        e.preventDefault();
                        let id = $(this).data("id");
                        $.get('/collection/GetTopCards/'+id);
                    })
                })
            </script> *@

           @* <script>
           $(document).ready(function () {

                var _url = '@Url.Action("GetStatisticsComponent", "Collection")';
                $.ajax({
                    type: "GET",
                    url: _url,
                    success: function (result) {
                        $("#chartSection").html(result);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                        $('#chartSection').html(errorMsg);
                    }
                });
            });
            </script>*@

    }


