@using MyCardCollection.Models
@model IEnumerable<Comment>;

    @{
        Comment firstComment = Model.FirstOrDefault();
        int? deckId =firstComment!=null?firstComment.DeckId:null;
    }

    @if(deckId != null)
    {
        <div class="shadow" style="border-radius:10px; border-style: solid;">
            <div class="pt-3 pb-0 pl-3 pr-3">
                @foreach (Comment comment in Model)
                {
                <div class="card">
                    <div class=" shadow card-body">
                    <p><b>@comment.Content</b></p>
                     @if (comment.Replies.Any())
                        {
                            <p class="w-100" style="text-align:right">Replies [@comment.Replies.Count()] <a href="*">Show</a></p>
                            @foreach (CommentReply reply in comment.Replies)
                            {

                                <div class="card mt-1 mb-1 ml-1 mr-0">
                                    <div class="card-body pr-0 pb-0" >
                                        <p>-> @reply.Content </p>
                                        @if (reply.ChildReplies.Any())
                                        {
                                            <p class="w-100" style="text-align:right">Replies [@reply.ChildReplies.Count()] <a href="*">Show</a></p>
                                            @foreach (CommentReply reply2 in reply.ChildReplies)
                                            {
                                                <div class="card mt-1 mb-1 ml-1 mr-0">
                                                    <div class="card-body pr-0 pb-0">
                                                        <p>--> @reply2.Content</p>

                                                        @if (reply2.ChildReplies.Any())
                                                        {
                                                            <p class="w-100" style="text-align:right">Replies [@reply2.ChildReplies.Count()] <a href="*">Show</a></p>
                                                            @foreach (CommentReply reply3 in reply2.ChildReplies)
                                                            {
                                                                <div class="card mt-1 mb-1 ml-1 mr-0">
                                                                    <div class="card-body p-0">
                                                                        <p>---> @reply3.Content</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    </div>
                   
                }
            </div>
            <div class="pb-2 pr-3 pl-3 row">
                <input class="col mr-1 form-control" type="text" style=""> 
                <input type="button" class="btn btn-primary" value="Comment">
            </div>
        </div>
    }

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script>

    </script>