<h1>RANKING page colelctioners by unique cards colelcted</h1>
<br />  
<h1>List of recent users</h1>
<br />
<h1>switching beetween colelction / value / total cards ? </h1>
<br />
<h1>Redirecting to users profile</h1>
<br />
<h1>Comments on user page - like on steam</h1>
<br />
<h1>Collectioners near you - based on city</h1>