<div class="main-container"  style="min-height:calc(100vh - 15vh)">
@*    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Runners</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>*@
    <section class="bg-dark">
        <img alt="Image" src="https://c1.scryfall.com/file/scryfall-cards/art_crop/front/3/e/3eeef24b-b937-408e-a32e-1a546d3e7b0f.jpg?1634346590" class="bg-image opacity-40 text-center" style="object-position:50% 15%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="media">
                        <img alt="Image" src="https://c1.scryfall.com/file/scryfall-cards/art_crop/front/3/e/3eeef24b-b937-408e-a32e-1a546d3e7b0f.jpg?1634346590" class="mt-md-5 mr-md-5 avatar avatar-xlg">
                        <div class="media-body">
                            <div class="mb-2">
                                <h1 class="h2 mb-2">MrKomugiko</h1>
                                <p class="badge badge-primary badge-pill mb-2">Admin</p><p class="badge badge-secondary badge-pill mb-2">Begginer</p>
                                <p><span><i class="icon-location"></i> Gdańsk, PL</span></p>
                            </div>
                            <p>
                                Total Cards: <br />
                                Total Value: <br />
                                Ranking: <br />
                                Member since:
                            </p>
                            <p>
                                Bit of a go-getter me, creating lovely things that help others. You'll most often find me out back in the hammock, listening to tunes and bending pixels to my will.
                            </p>
                            <div>
                                <button class="btn btn-primary" data-toggle="button"><i class="icon-add-user"></i> Follow</button>
                                <button class="btn btn-primary">
                                    <i class="icon-mail"></i>
                                </button>
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                        <a class="dropdown-item" href="#">Add to group</a>
                                        <a class="dropdown-item" href="#">Share Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Block</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="topcards-tab" data-toggle="tab" href="#topcards" role="tab" aria-controls="topcards" aria-selected="true">Top Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="decks-tab" data-toggle="tab" href="#decks" role="tab" aria-controls="decks" aria-selected="false">Decks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
                            </li>
                        </ul>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
    </section>

<section class="flush-with-above">
<div class="tab-content"> 
<!-- DECKS -->


    <div class="tab-pane fade" id="decks" role="tabpanel" aria-labelledby="decks-tab">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 position-relative">
                    <ul class="row mb-3 feature-list feature-list-sm">
                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card shadow">
                                <img class="card-img-top" src="https://c1.scryfall.com/file/scryfall-cards/art_crop/front/4/4/4464e11a-c5b9-40ea-8be0-dab29d14e289.jpg?1572893485" style="object-fit: cover; height:10rem; object-position:0 25%" alt="Card image cap">
                                    <div class="card-body">
                                    <h4 class="card-title">deck_test</h4>
                                    <p class="card-text text-body">Accounting for creative people
                                        False , 0 , 0  
                                    </p>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="icon-heart mr-1"></i> 0</li>
                                        <li class="list-inline-item"><i class="icon-message mr-1"></i> 0</li>
                                    </ul>
                                    </div>
       
                                    <button class="btn btn-sm btn-outline-primary w-50" type="button" data-toggle="modal" data-target="#DeckOverviewModal" onclick="LoadDeckOverview(16)">
                                        Deck Preview
                                    </button>
                                    <div class="dropup">
                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item">Remove</a>
                                        <a class="dropdown-item" href="#">Comment</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card shadow">
                                <img class="card-img-top" src="https://c1.scryfall.com/file/scryfall-cards/art_crop/front/f/2/f234999b-54e9-40f5-a537-7d6ce169c710.jpg?1594735384" style="object-fit: cover; height:10rem; object-position:0 25%" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">my deck</h4>
                                    <p class="card-text text-body">Accounting for creative people
                                        False , 0 , 0  
                                    </p>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="icon-heart mr-1"></i> 0</li>
                                        <li class="list-inline-item"><i class="icon-message mr-1"></i> 0</li>
                                    </ul>
                                    </div>
       
                                    <button class="btn btn-sm btn-outline-primary w-50" type="button" data-toggle="modal" data-target="#DeckOverviewModal" onclick="LoadDeckOverview(17)">
                                        Deck Preview
                                    </button>
                                    <div class="dropup">
                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item">Remove</a>
                                        <a class="dropdown-item" href="#">Comment</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card shadow">
                                <img class="card-img-top" src="https://c1.scryfall.com/file/scryfall-cards/art_crop/front/d/8/d8c9c111-fbc7-44e1-94bd-1ca164370623.jpg?1572893254" style="object-fit: cover; height:10rem; object-position:0 25%" alt="Card image cap">
                                    <div class="card-body">
                                    <h4 class="card-title">test</h4>
                                    <p class="card-text text-body">Accounting for creative people
                                        False , 0 , 0  
                                    </p>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="icon-heart mr-1"></i> 0</li>
                                        <li class="list-inline-item"><i class="icon-message mr-1"></i> 0</li>
                                    </ul>
                                    </div>
       
                                    <button class="btn btn-sm btn-outline-primary w-50" type="button" data-toggle="modal" data-target="#DeckOverviewModal" onclick="LoadDeckOverview(18)">
                                        Deck Preview
                                    </button>
                                    <div class="dropup">
                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item">Remove</a>
                                        <a class="dropdown-item" href="#">Comment</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                        </li>
                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card shadow">
                                    <img class="card-img-top" src="https://c1.scryfall.com/file/scryfall-cards/art_crop/front/8/6/86ecaedc-08f1-4de7-aae8-056df57940e0.jpg?1622764034" style="object-fit: cover; height:10rem; object-position:0 25%" alt="Card image cap">
                                    <div class="card-body">
                                    <h4 class="card-title">dddd</h4>
                                    <p class="card-text text-body">Accounting for creative people
                                        False , 0 , 0  
                                    </p>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="icon-heart mr-1"></i> 0</li>
                                        <li class="list-inline-item"><i class="icon-message mr-1"></i> 0</li>
                                    </ul>
                                    </div>
       
                                    <button class="btn btn-sm btn-outline-primary w-50" type="button" data-toggle="modal" data-target="#DeckOverviewModal" onclick="LoadDeckOverview(19)">
                                        Deck Preview
                                    </button>
                                    <div class="dropup">
                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item">Remove</a>
                                        <a class="dropdown-item" href="#">Comment</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>
    </div>
  
        <div class="modal fade" id="DeckOverviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-center-viewport" role="document">
                <div class="modal-content">

                    <div class="modal-header modal-header-borderless justify-content-end">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon-cross"></i>
                            </span>
                        </button>
                    </div>

                    <div class="modal-body d-flex justify-content-center" style="max-height:85vh;overflow-y:scroll">
                          <div class="text-center w-100" id="DeckOverview_Partial">
                              <!-- CONTENT FETCHED FROM SERVER via JS and load partial view -->
                          </div>
                    </div>
                    

                    </div>
                </div>
            </div>
             
  
<!-- TOP CARDS -->

            <div class="tab-pane fade active show" id="topcards" role="tabpanel" aria-labelledby="topcards-tab">
                <div class="container">
                    <div class="row justify-content-between">
                       <div class="col m-2 ">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/4/3/432ecd5f-966f-4403-a973-51e175a524a0.jpg?1594736810" alt="img">
                        </div>
                        <div class="col m-2">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/3/a/3af78d76-ad5c-44ba-880d-b834bcde5398.jpg?1594737470" alt="img">
                        </div>
                        <div class="col m-2">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/5/f/5f1e7d34-f250-4a61-a95b-75450d134eec.jpg?1643597525" alt="img">
                        </div>
                        <div class="col m-2">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/0/b/0b8aff2c-1f7b-4507-b914-53f8c4706b3d.jpg?1596259277" alt="img">
                        </div>
                     </div>
                    <div class="row justify-content-between">
                        <div class="col m-2">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/1/8/18092f68-b96e-4084-9eba-b240d2195d81.jpg?1634346539" alt="img">
                        </div>
                        <div class="col m-2">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/0/d/0dbac7ce-a6fa-466e-b6ba-173cf2dec98e.jpg?1634347036" alt="img">
                        </div>
                        <div class="col m-2">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/5/2/52e59170-aa80-45e1-ad0d-ce4818e78d2a.jpg?1643591771" alt="img">
                        </div>
                        <div class="col m-2">
                            <img class="img-fluid" style="border-radius:15px; background-color: #fff; padding: 5px;" src="https://c1.scryfall.com/file/scryfall-cards/normal/front/f/d/fdb4b2ef-5196-4f7f-88ff-64b2cdb36c6b.jpg?1584831630" alt="img">
                        </div>
                    </div>
                </div>
                    <!--end of row-->
            </div>


<!-- FOLLOWERS -->

            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Daniel Cameron" src="/img/avatar-male-1.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Daniel Cameron</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> San Francisco, USA</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">196 Followers</li>

                                                <li class="list-inline-item text-small">186 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">cameronman</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Caitlyn Halsy" src="/img/avatar-female-1.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Caitlyn Halsy</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Melbourne, AU</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">199 Followers</li>

                                                <li class="list-inline-item text-small">189 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">chalsy</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Toby Marsh" src="/img/avatar-male-2.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Toby Marsh</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Denver, USA</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">6 Followers</li>

                                                <li class="list-inline-item text-small">-4 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">marshisonline</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Lucille Freebody" src="/img/avatar-female-2.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Lucille Freebody</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Bathwick, UK</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">8 Followers</li>

                                                <li class="list-inline-item text-small">-2 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">lfreebody</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Brenton Harvey" src="/img/avatar-male-3.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Brenton Harvey</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Dublin, IR</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">10 Followers</li>

                                                <li class="list-inline-item text-small">0 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">harveytravel</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Tabatha Firth" src="/img/avatar-female-3.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Tabatha Firth</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Sydney, AU</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">13 Followers</li>

                                                <li class="list-inline-item text-small">3 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">onthetab</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Ramon Hernandez" src="/img/avatar-male-4.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Ramon Hernandez</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Mexico City, ME</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">15 Followers</li>

                                                <li class="list-inline-item text-small">5 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">hernandezzz</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Roberta Kissinger" src="/img/avatar-female-4.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Roberta Kissinger</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Rotterdam, NL</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">18 Followers</li>

                                                <li class="list-inline-item text-small">8 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">bench-roberta</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Franc Bijon" src="/img/avatar-male-5.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Franc Bijon</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Paris, FR</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">20 Followers</li>

                                                <li class="list-inline-item text-small">10 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">bijondesign</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Kate Worthington" src="/img/avatar-female-5.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Kate Worthington</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Los Angeles, USA</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">22 Followers</li>

                                                <li class="list-inline-item text-small">12 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">kwmarketing</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Kenny Smith" src="/img/avatar-male-6.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Kenny Smith</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Berlin, GER</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">24 Followers</li>

                                                <li class="list-inline-item text-small">14 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">anotherksmith</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Christina Hersinger" src="/img/avatar-female-6.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Christina Hersinger</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Frankfurt, GER</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">27 Followers</li>

                                                <li class="list-inline-item text-small">17 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">chersinger</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>

                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>

<!-- COMMENTS -->
 
                    <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                        <div class="container">
                            <ul class="row feature-list feature-list-sm">

                                <li class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-product-bench.jpg" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Bench</h4>
                                                <p class="card-text text-body">Accounting for creative people</p>
                                            </a>
                                        </div>
                                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                            <div class="text-small">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="icon-heart mr-1"></i> 373</li>
                                                    <li class="list-inline-item"><i class="icon-message mr-1"></i> 62</li>
                                                </ul>
                                            </div>
                                            <div class="dropup">
                                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-three-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                                                    <a class="dropdown-item" href="#">Save</a>
                                                    <a class="dropdown-item" href="#">Share</a>
                                                    <a class="dropdown-item" href="#">Comment</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--end of col-->

                                <li class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-product-kin.jpg" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Kin</h4>
                                                <p class="card-text text-body">The digital fashion assistant</p>
                                            </a>
                                        </div>
                                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                            <div class="text-small">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="icon-heart mr-1"></i> 84</li>
                                                    <li class="list-inline-item"><i class="icon-message mr-1"></i> 21</li>
                                                </ul>
                                            </div>
                                            <div class="dropup">
                                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="KinButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-three-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="KinButton">
                                                    <a class="dropdown-item" href="#">Save</a>
                                                    <a class="dropdown-item" href="#">Share</a>
                                                    <a class="dropdown-item" href="#">Comment</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--end of col-->

                                <li class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-product-paydar.jpg" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Paydar</h4>
                                                <p class="card-text text-body">Location based touch payments</p>
                                            </a>
                                        </div>
                                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                            <div class="text-small">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="icon-heart mr-1"></i> 253</li>
                                                    <li class="list-inline-item"><i class="icon-message mr-1"></i> 19</li>
                                                </ul>
                                            </div>
                                            <div class="dropup">
                                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="PaydarButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-three-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PaydarButton">
                                                    <a class="dropdown-item" href="#">Save</a>
                                                    <a class="dropdown-item" href="#">Share</a>
                                                    <a class="dropdown-item" href="#">Comment</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--end of col-->

                                <li class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-product-pipeline.jpg" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">pipeline.js</h4>
                                                <p class="card-text text-body">Snappy UI interaction library with flexible API</p>
                                            </a>
                                        </div>
                                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                            <div class="text-small">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="icon-heart mr-1"></i> 84</li>
                                                    <li class="list-inline-item"><i class="icon-message mr-1"></i> 25</li>
                                                </ul>
                                            </div>
                                            <div class="dropup">
                                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="pipeline.jsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-three-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="pipeline.jsButton">
                                                    <a class="dropdown-item" href="#">Save</a>
                                                    <a class="dropdown-item" href="#">Share</a>
                                                    <a class="dropdown-item" href="#">Comment</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--end of col-->

                                <li class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-product-pitstop.jpg" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Pitstop</h4>
                                                <p class="card-text text-body">Browser-based project management</p>
                                            </a>
                                        </div>
                                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                            <div class="text-small">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="icon-heart mr-1"></i> 90</li>
                                                    <li class="list-inline-item"><i class="icon-message mr-1"></i> 34</li>
                                                </ul>
                                            </div>
                                            <div class="dropup">
                                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="PitstopButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-three-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PitstopButton">
                                                    <a class="dropdown-item" href="#">Save</a>
                                                    <a class="dropdown-item" href="#">Share</a>
                                                    <a class="dropdown-item" href="#">Comment</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--end of col-->

                                <li class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <a href="#">
                                            <img class="card-img-top" src="/img/graphic-product-sidekick.jpg" alt="Card image cap">
                                        </a>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Sidekick</h4>
                                                <p class="card-text text-body">Holistic fitness tracking</p>
                                            </a>
                                        </div>
                                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                            <div class="text-small">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="icon-heart mr-1"></i> 221</li>
                                                    <li class="list-inline-item"><i class="icon-message mr-1"></i> 14</li>
                                                </ul>
                                            </div>
                                            <div class="dropup">
                                                <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="SidekickButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-dots-three-horizontal"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                                    <a class="dropdown-item" href="#">Save</a>
                                                    <a class="dropdown-item" href="#">Share</a>
                                                    <a class="dropdown-item" href="#">Comment</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--end of col-->

                            </ul>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </div>

    <!--end of section-->
</div>
</section>
</div>