@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div class="container" style="min-height:calc(100vh - 20vh)">

    <div class="row align-items-center">
        <div class="col-12 mb-3 mt-3  position-relative">
@*            <h1>Manage your account</h1>
            <h2>Change your account settings</h2>
            <hr />*@
            <div class="row">
                 <div class="col-md-3 mt-3 mb-3">
                    <partial name="_ManageNav" />
                 </div>
                 <div class="col">
                    @RenderBody()
                 </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="deckBackgroundSelectionModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-center-viewport" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-borderless justify-content-end">
                    <h3 class="m-0 w-100 text-center"style="color:black;">
                            Select Background
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i>
                    </span>
                    </button>
                </div>
                <div class="modal-body modal-xl d-flex justify-content-center" style="max-height:75vh;overflow-y:scroll">                    
                    <div class="col">
                        <div class="content row">
                        </div>
                        <div class="text-center w-100">
                          <a class="btn btn-outline-success" onclick="ExpandImageList()">Show more...</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
