@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@using Microsoft.AspNetCore.Identity
@using MyCardCollection.Areas.Identity.Pages.Account.Manage
@using MyCardCollection.Models
@inject UserManager<AppUser> UserManager

<div class="container">
    <div class="row mb-2">
         <!-- IMAGE SELEC SECTION -->
            <div class="row m-2">
                <div class="row media flex-wrap mb-0 align-items-center">
                    <img alt="Image" src="@UserManager.GetUserAsync(User).Result.AvatarImage" class="avatar avatar-lg mb-md-0 ml-2">
                    <div class="col media-body pl-0 pr-0">
                        <div class="btn-group">
                        <div class="row">
                            <label class="col-12 col-md ml-1 mr-1">
                            <input type="button" class="custom-file-input height-0">
                                <span class="btn btn-primary">SELECT FROM COLLECTION</span>
                            </label>
                            <label class="col-12 col-md-3 ml-1 mr-1">
                                <input type="button" class="custom-file-input height-0">
                                <span class="btn btn-outline-primary">RANDOMIZE</span>
                            </label>
                        </div>
                            </div>
                        <small>
                            Avatar image and background for your profile page, select one of art from your colelction<br>
                            and enjoy your unique profile 
                        </small>
                    </div>
                </div>
            </div>
    </div>

    


    <hr class="mt-1 mb-1">
    <!-- TITLE -->
        <div class="row mb-1">
            <div class="col">
                <h5>Profile Information</h5>
            </div>
        </div>

    <div class="row">
        <div class="col-12 col-md-4 order-md-2">
            <!-- PRIVACY INFORMATION -->
                <div class="alert alert-info text-small" role="alert">
                <i class="icon-user"></i>
                <span> Some of this information will appear on your public profile. Toggle switch to set it as public/private.</span>
                <a href="/Collectioner/@UserManager.GetUserId(User)">View your public profile</a>
                </div>
        </div>

        <div class="col-12 col-md-8 order-md-1">
            <form class="row" method="post">
            <input asp-for="Input.AvatarImage" hidden>
            <input asp-for="Input.Privacy.Id" hidden>

            <!-- USERNAME -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="row"> 
                            <label class="col" for="username">Username:<span class="text-red">*</span></label>
                            <input asp-for="Input.UserName" class="form-control form-control-lg ml-1 mb-1 mr-1" type="text"  id="username">
                            <small class="col">Used to log in to app.</small>
                        </div>
                    </div>
                </div>
            <!-- FIRST NAME -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <label class="col" for="first-name">First Name:</label>
                            <div class="custom-control custom-switch">
                                <input asp-for="Input.Privacy.AllowFirstName" type="checkbox" class="custom-control-input" id="nameSwitch">  
                                <label class="custom-control-label" for="nameSwitch"></label>
                            </div>
                            <input asp-for="Input.Name" class="form-control form-control-lg ml-1 mb-1 mr-1" type="text">
                        </div>
                    </div>
                </div>
            <!-- LAST NAME -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <label class="col" for="last-name">Last Name:</label>
                            <div class="custom-control custom-switch">
                                <input asp-for="Input.Privacy.AllowLastName" type="checkbox" class="custom-control-input" id="lastNameSwitch">  
                                <label class="custom-control-label" for="lastNameSwitch"></label>
                            </div>
                            <input asp-for="Input.Lastname" class="form-control form-control-lg ml-1 mb-1 mr-1" type="text">
                        </div>
                    </div>
                </div>
            <!-- CITY -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <label class="col" for="city">City:</label>
                            <div class="custom-control custom-switch">
                                <input asp-for="Input.Privacy.AllowCity" type="checkbox" onclick="switchClicked(this,'countrySwitch')" class="custom-control-input" id="citySwitch"> 
                                <label class="custom-control-label" for="citySwitch"></label>
                            </div>
                            <input asp-for="Input.City" class="form-control form-control-lg ml-1 mb-1 mr-1" type="text">
                        </div>
                    </div>
                </div>
            <!-- COUNTRY -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <label class="col" for="country">Country:</label>
                            <div class="custom-control custom-switch">
                                <input asp-for="Input.Privacy.AllowCountry" type="checkbox" class="custom-control-input" id="countrySwitch">  
                                <label class="custom-control-label" for="countrySwitch"></label>
                            </div>
                            <input asp-for="Input.CountryCode" class="form-control form-control-lg ml-1 mb-1 mr-1" type="text">
                        </div>
                    </div>
                </div>
            <!-- BIRTHDAY -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <label class="col" for="birthday">Birthday:</label>
                            <input asp-for="Input.Birthday" class="form-control form-control-lg flatpickr-input ml-1 mb-1 mr-1" type="hidden"
                                placeholder="Select a date" data-flatpickr="" data-alt-input="true" data-date-format="d-m-Y">
                            @*<input class="form-control form-control-lg flatpickr-input form-control input" placeholder="Select a date" tabindex="0" type="text" readonly="readonly">*@
                            <small class="col" >This will never be made public.</small>
                        </div>
                    </div>
                </div>
            <!-- WEBSITE -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                        <label class="col" for="website">Website:</label>
                        <div class="custom-control custom-switch">
                            <input asp-for="Input.Privacy.AllowWebsite" type="checkbox" class="custom-control-input" id="customSwitch1">  <label class="custom-control-label" for="customSwitch1"></label>
                        </div>
                        <input asp-for="Input.Website" class="form-control form-control-lg ml-1 mb-1 mr-1" type="text">
                        </div>
                    </div>
                </div>
            <!-- ABOUT ME -->
                <div class="col-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col"for="about-me">About me:  </label>
                            <textarea  asp-for="Input.Description" class="form-control form-control-lg  ml-1 mb-1 mr-1"></textarea>
                        </div>
                    </div>
                </div>

            <!-- SUBMIT BUTTON -->
                <div class="col-12">
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit" >Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function switchClicked(currentSwitchState, switchToToggle) {
          var switchElement = document.getElementById(switchToToggle);
          if(currentSwitchState.checked)
          {
              switchElement.checked = currentSwitchState.checked;  
          }
        }
    </script>
}










@*<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>*@