@using MyCardCollection.ViewModel
@model MyCardCollection.ViewModel.DeckEditViewModel;
@{
    DeckEditViewModel deck = Model;
}
<style>
    #changebutton.btn {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);  
        -ms-transform: translate(-50%, -50%);
        font-size: 12px;
        border: none;cursor: pointer;
        border-radius: 10px; 
    }
</style>

   <!-- Edit Template -->
    <div id="editCardDeck-@deck.DeckId" class="card shadow">
        <form id="editform-@deck.DeckId">
            <input type="number" asp-for="DeckId" type="hidden" name="DeckId" />
            <input id="editInputBackgroundImage-@deck.DeckId" type="hidden" asp-for="BackgroundImage" name="BackgroundImage" />
            <img id="editDeckBackgroundImage-@deck.DeckId" type="button" class="card-img-top" src="@deck.BackgroundImage" style="object-fit: cover; height:10rem; object-position:0 25%" alt="Card image cap">
                <button type="button" onclick="openBackgroundSelectionWindow(@deck.DeckId)" id="changebutton" class="btn btn-secondary opacity-70" style="height:5rem;">
                    <img class="h-100" src="https://cdn.iconscout.com/icon/free/png-256/photo-size-select-actual-1782180-1512958.png">
                </button>
            <div class="card-body">
                    <input name="Name" type="text" class="card-title w-100" value="@deck.Name">
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <textarea name="Description" asp-for="Description" type="text" class="card-text text-body w-100" rows="3" style="resize:none; overflow:hidden;"></textarea>
                </div>
            <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <a class="btn btn-sm btn-outline-danger" style="margin-right:1em;" onclick="Cancel(this,@Model.DeckId)"> Cancel </a>   
            <input type="button" value="Save" onclick="postedit(@deck.DeckId);" class="btn btn-sm btn-outline-success" style="margin-right:1em;"/>
            <a class="w-100">  </a>  
            </div>
        </form>
    </div>
